In [1]:
import numpy as np
import pandas as pd

In [42]:
f=open('data/application_train.csv')

In [43]:
app_train = pd.read_csv(f)

In [44]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [46]:
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique,axis=0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [47]:
from sklearn.preprocessing import LabelEncoder

In [48]:
le = LabelEncoder()

In [49]:
for col in app_train:
    if app_train[col].dtype=="object":
        if len(app_train[col].unique()) <= 2:
            print(type(app_train[col]))
            le.fit(app_train[col])
            
            app_train[col]=le.transform(app_train[col])

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [24]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
app_train=pd.get_dummies(app_train)

In [32]:
print(app_train['CODE_GENDER_F'].head())

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8

In [33]:
f=open('data/application_train.csv')
app_train = pd.read_csv(f)

In [34]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])

In [56]:
sub_train["WEEKDAY_APPR_PROCESS_START"].unique()
sub_train.shape

(307511, 1)

In [53]:
sub_train_dummy=pd.get_dummies(sub_train)

In [54]:
sub_train_dummy

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0
5,0,0,0,0,0,0,1
6,0,0,0,1,0,0,0
7,0,1,0,0,0,0,0
8,0,0,0,0,0,0,1
9,0,0,0,0,1,0,0
10,0,0,1,0,0,0,0
11,1,0,0,0,0,0,0
12,1,0,0,0,0,0,0
13,0,0,0,0,1,0,0
14,0,1,0,0,0,0,0
15,0,0,1,0,0,0,0
16,0,0,0,0,1,0,0
17,0,1,0,0,0,0,0
18,1,0,0,0,0,0,0
19,0,1,0,0,0,0,0
20,1,0,0,0,0,0,0
21,0,1,0,0,0,0,0
22,0,0,0,0,1,0,0
23,1,0,0,0,0,0,0
24,0,0,0,0,1,0,0
25,0,0,1,0,0,0,0
26,0,1,0,0,0,0,0
27,0,0,1,0,0,0,0
28,0,0,0,0,0,0,1
29,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...
307481,1,0,0,0,0,0,0
307482,0,0,0,0,1,0,0
307483,0,1,0,0,0,0,0
307484,0,1,0,0,0,0,0
307485,0,0,1,0,0,0,0
307486,0,0,1,0,0,0,0
307487,0,0,0,0,0,0,1
307488,0,0,0,0,0,0,1
307489,1,0,0,0,0,0,0
307490,0,0,1,0,0,0,0
307491,0,0,1,0,0,0,0
307492,1,0,0,0,0,0,0
307493,0,1,0,0,0,0,0
307494,0,1,0,0,0,0,0
307495,0,0,0,0,0,0,1
307496,0,0,0,0,1,0,0
307497,0,0,0,0,1,0,0
307498,0,1,0,0,0,0,0
307499,0,0,0,0,0,1,0
307500,1,0,0,0,0,0,0
307501,0,0,0,0,0,0,1
307502,0,1,0,0,0,0,0
307503,0,0,1,0,0,0,0
307504,0,0,0,0,0,0,1
307505,0,1,0,0,0,0,0
307506,0,0,0,0,1,0,0
307507,0,1,0,0,0,0,0
307508,0,0,0,0,1,0,0
307509,0,0,0,0,0,0,1
307510,0,0,0,0,1,0,0

In [55]:
print(sub_train_dummy.shape)

(307511, 7)